apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s:%(http_port)s/
    
    [security]
    admin_user = admin
    admin_password = admin
    
    [datasources]
    [datasources.prometheus]
    type = prometheus
    access = proxy
    url = http://prometheus.monitoring.svc.cluster.local:9090
    isDefault = true
    editable = true
    
    [datasources.loki]
    type = loki
    access = proxy
    url = http://loki.logging.svc.cluster.local:3100
    editable = true
    
    [users]
    allow_sign_up = false
    
    [auth.anonymous]
    enabled = true
    org_role = Viewer
