{{- if .Values.promtail.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: {{ .Values.namespaces.logging }}
  labels:
    {{- include "kubernetes-monitoring.labels" . | nindent 4 }}
    app: promtail
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        {{- include "kubernetes-monitoring.labels" . | nindent 8 }}
        app: promtail
    spec:
      serviceAccountName: promtail
      containers:
      - name: promtail
        image: "{{ .Values.promtail.image.repository }}:{{ .Values.promtail.image.tag }}"
        imagePullPolicy: {{ .Values.promtail.image.pullPolicy }}
        args:
          - -config.file=/etc/promtail/promtail.yaml
        ports:
        - containerPort: 3101
          name: http
        volumeMounts:
        - name: config
          mountPath: /etc/promtail
        - name: varlog
          mountPath: /var/log
          readOnly: true
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        resources:
          {{- toYaml .Values.promtail.resources | nindent 10 }}
        securityContext:
          runAsUser: 0
      volumes:
      - name: config
        configMap:
          name: promtail-config
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      tolerations:
      - effect: NoSchedule
        operator: Exists
{{- end }}
