{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespaces.monitoring }}
  labels:
    {{- include "kubernetes-monitoring.labels" . | nindent 4 }}
    app: prometheus
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
  - port: {{ .Values.prometheus.service.port }}
    targetPort: {{ .Values.prometheus.service.port }}
    protocol: TCP
    name: http
  selector:
    app: prometheus
{{- end }}
